{% extends '@WebfactoryShortcode/Guide/page.html.twig' %}

{% block title %}
    Shortcode {{ shortcodeTag.shortcode }}
{% endblock %}

{% block content %}
    <h1>Shortcode preview</h1>
    <p><b><tt>[{{ shortcodeTag.shortcode }}]</tt></b></p>
    <p>
        {% if shortcodeTag.description is defined %}
            {{ shortcodeTag.description }}
        {% else %}
            No description configured.
        {% endif %}
    </p>

    <p>
        <a href="{{ path('webfactory.shortcode.guide-list') }}">Back to the shortcodes list</a>
    </p>

    {% if form %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Show example" />
        {{ form_end(form) }}
    {% elseif shortcodeTag.example is defined %}
        <p>Example code: {{ example }}</p>
    {% else %}
        <p>No example configured.</p>
    {% endif %}

    {% if shortcodeTag.example is defined %}
        <div id="rendered-example">
            {{ example|shortcodes }}
        </div>
    {% endif %}
{% endblock %}
